

#page-wrapper {
  height: 100%;
  width: 100%;
}

#page {
  height: 100%;
  margin: 0 auto;
  width: 980px;
  -webkit-box-shadow: 0px 0px 5px 0px #555;
  -moz-box-shadow: 0px 0px 5px 0px #555;
  box-shadow: 0px 0px 5px 0px #555;
}

#header {
  background-color: #F9F9F9;
  height: 130px;
}

#header .section {
  position: relative;
  top: 0;
  width: 980px;
}

#main-wrapper {
  background-color: #F9F9F9;
  margin: 0 auto;
  padding: 15px;
  width: 950px;
}

#main {
  overflow: hidden;
  width: 950px;
}

.two-sidebars #content {
  float: left;
  height: 100%;
  margin-right: 15px;
  width: 470px;
}

.one-sidebar.sidebar-first #content {
  float: left;
  height: 100%;
  margin-right: 15px;
  width: 715px;
}

.one-sidebar.sidebar-first #sidebar-first {
  float: left;
  width: 200px;
}

.one-sidebar.sidebar-second #content {
  float: left;
  height: 100%;
  margin-right: 15px;
  width: 685px;
}

.no-sidebars #content {
  float: left;
  height: 100%;
  width: 950px;
}

#sidebar-first {
  float: left;
  margin-right: 15px;
  width: 200px;
}

#sidebar-second {
  float: right;
  width: 250px;
}

#footer {
  background-color: #EEEEEE;
  border-top: 1px dashed #FFFFFF;
  bottom: 0;
  clear: both;
  height: auto;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 15px;
  position: relative;
  width: 950px;
}

#footer .block {
  float: left;
  line-height: 18px;
  padding: 8px;
  width: 220px;
}

#block-views-archive-block .content, #block-system-powered-by .content {
  margin: 10px 0;
}  