
/* FONT FACE BEGIN */

@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500,500italic,700,700italic,400italic&subset=latin,latin-ext");


@font-face {
/* Don't remove this. */
}

@font-face {
font-family: 'RaphaelIcons';
src: url('ff_icons/raphaelicons-webfont.eot');
src: url('ff_icons/raphaelicons-webfont.eot?#iefix') format('embedded-opentype'),
url('ff_icons/raphaelicons-webfont.woff') format('woff'),
url('ff_icons/raphaelicons-webfont.ttf') format('truetype'),
url('ff_icons/raphaelicons-webfont.svg#webfontjJTHv0E8') format('svg');
}

@font-face {
font-family: 'WebSymbolsRegular';
src: url('ff_icons/websymbols-regular-webfont.eot');
src: url('ff_icons/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('ff_icons/websymbols-regular-webfont.woff') format('woff'),
url('ff_icons/websymbols-regular-webfont.ttf') format('truetype'),
url('ff_icons/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

.form-item-name .description {
  display: none;
}

/* FONT FACE END */


/* HTML ELEMENTS BEGIN */

body, p, a, h1, h2, h3, h4, h5, h6, ol, ul, li, td, th, label {
  color: #AAA;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 12px;
}

body {
  background: #069;
  background: -moz-linear-gradient(top, #006699 0%, #0099cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006699), color-stop(100%, #0099cc));
  background: -webkit-linear-gradient(top, #006699 0%, #0099cc 100%);
  background: -o-linear-gradient(top, #006699 0%, #0099cc 100%);
  background: -ms-linear-gradient(top, #006699 0%, #0099cc 100%);
  background: linear-gradient(top, #006699 0%, #0099cc 100%);
  color: #AAA;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#0099cc',GradientType=0 );
}

h1 {
  background-color: #EEEEEE;
  border: 1px solid #EBEBEB;
  border-radius: 15px 15px 15px 15px;
  color: #BBBBBB;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
  padding: 3px 5px 5px 10px;
}

h2 {
  background-color: #F5F5F5;
  border-bottom: 1px dashed #EDEDED;
  clear: both;
  color: #BBBBBB;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 5px 5px 10px;
}

h2 a {
  color: #09c;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

h2 a:hover {
  color: #bbb;
  text-decoration: none;
}

h3 {
  color: #AAAAAA;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

h4 {
  color: #AAAAAA;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

h5 {
  color: #AAAAAA;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

h6 {
  color: #AAAAAA;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}

p {
  margin: 10px 0 10px 0;
}

a{
  color: #09c;
  text-decoration: none;
}

a:hover{
  color: #09c;
  text-decoration: underline;
}

blockquote:before {
  color: #DDDDDD;
  content: "\\";
  float: left;
  font: 40px "RaphaelIcons";
  margin: 0 0 0 -50px;
}

blockquote {
  background-color: #F3F3F3;
  border-left: 3px solid #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  color: #CCCCCC;
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0 15px 40px;
  padding: 12px;
}

code:before {
  color: #DDDDDD;
  content: "H";
  float: left;
  font: 20px "WebSymbolsRegular";
  margin: 0 0 0 -50px;
}

code {
  background-color: #F3F3F3;
  border: 3px dotted #DDDDDD;
  border-radius: 6px 6px 6px 6px;
  color: #CCCCCC;
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0 15px 40px;
  padding: 12px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

#content img {
  border: 5px solid #EEEEEE;
  float: left;
  margin: 0 10px 10px 0;
  padding: 3px;
}

#content ol {
  list-style: decimal inside none;
  margin: 15px 0;
}

#content ol ol {
  list-style-type: upper-alpha;
  margin-left: 15px;
}

#content ul.tabs {
  border-bottom: 3px solid #DDDDDD;
  margin: 10px 0;
  padding: 0;
}

#content ul.tabs li, #content ul.tabs li.active {
  display: inline;
}

#content ul.tabs li a {
  background-color: #F3F3F3;
  color: #CCCCCC;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
}

#content ul.tabs li.active a {
  background-color: #ccc;
  border-radius: 9px 9px 0 0;
  color: #F9F9F9;
  display: inline;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  padding: 12px 9px 5px;
}

#content ul.tabs li:before {
  display: none;
}

#content ul {
  list-style: none inside none;
  margin: 15px 0;
}

#content ul ul {
  list-style-type: circle;
  margin-left: 18px;
}

#content ul li:before {
  color: #CCCCCC;
  content: "/";
  font: 10px "WebSymbolsRegular";
  list-style-type: none;
  margin-right: 6px;
  vertical-align: top;
}

#content ul ul li:before {
display: none;
}


ul.pager, ul.links {

}

ul.pager li:before {
  display: none;
}

ul.pager li {
  display: inline;
}


fieldset {
  border: 1px solid #EAEAEA;
  margin: 20px 0;
  padding: 10px;
}

fieldset legend {
  color: #BBBBBB;
  margin: 0 6px;
  padding: 0 6px;
}

.form-item {
  margin: 10px 0;
}

.form-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-item input, .form-item select, .form-item textarea {
  border: 1px solid #EAEAEA;
  padding: 3px 6px 3px 6px;
}

#content .form-item input, #content .form-item select, #content .form-item textarea {
  border: 1px solid #EAEAEA;
  padding: 3px 6px 3px 6px;
  max-width:455px
}

.form-submit {
  background: #EDEDED;
  background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
  border: 1px solid #DCDCDC;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0 1px 0 0 #FFFFFF inset;
  color: #888888;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 10px 10px 0;
  padding: 4px 10px 3px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
}

.two-sidebars textarea {
  max-width: 450px;
}


table {
  border-collapse: collapse;
  margin: 15px 0;
}

thead {
  border: 1px solid #999;
}

th {
  background-color: #AAAAAA;
  border-color: #999999;
  border-style: solid;
  border-width: 1px 1px 4px;
  color: #EEEEEE;
  font-weight: bold;
  padding: 8px 10px;
  text-align: left;
}

tbody {
  border: 1px solid #DDDDDD;
}

tr.even td {
  background-color: #eaeaea;
}

td {
  background-color: #F3F3F3;
  border-bottom: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  padding: 8px 10px;
}

/* HTML ELEMENTS END */


/* DRUPAL MESSAGES BEGIN */

.messages h2 {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #BBBBBB;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  line-height: 14px;
  padding: 0;
}

div.messages.status {
  background-color: #F3F3F3;
  border: 3px solid #77DD33;
  border-radius: 6px 6px 6px 6px;
  color: #77DD33;
  float: left;
  font-weight: bold;
  margin: 15px;
  padding: 12px 12px 12px 40px;
  position: relative;
  width: 890px;
}

#content div.messages.status {
  background-color: #F3F3F3;
  border: 3px solid #77DD33;
  border-radius: 6px 6px 6px 6px;
  color: #77DD33;
  font-weight: bold;
  float: none;
  margin: 15px 0;
  padding: 12px 12px 12px 40px;
  width: auto;
}

div.messages.error {
  background-color: #F3F3F3;
  border: 3px solid #DD0000;
  border-radius: 6px 6px 6px 6px;
  color: #DD0000;
  float: left;
  font-weight: bold;
  margin: 15px;
  padding: 12px 12px 12px 40px;
  position: relative;
  width: 890px;
}

#content div.messages.error {
  background-color: #F3F3F3;
  border: 3px solid #DD0000;
  border-radius: 6px 6px 6px 6px;
  color: #DD0000;
  font-weight: bold;
  float: none;
  margin: 15px 0;
  padding: 12px 12px 12px 40px;
  width: auto;
}

div.messages.warning {
  background-color: #F3F3F3;
  border: 3px solid #FFBB00;
  border-radius: 6px 6px 6px 6px;
  color: #FFBB00;
  float: left;
  font-weight: bold;
  margin: 15px;
  padding: 12px 12px 12px 40px;
  position: relative;
  width: 890px;
}

#content div.messages.warning {
  background-color: #F3F3F3;
  border: 3px solid #FFBB00;
  border-radius: 6px 6px 6px 6px;
  color: #FFBB00;
  font-weight: bold;
  float: none;
  margin: 15px 0;
  padding: 12px 12px 12px 40px;
  width: auto;
}

/* DRUPAL MESSAGES END */


/* HEADER STYLES BEGIN */

#logo {
  float: left;
  margin: 60px 15px 0;
}

#name-and-slogan{
  clear: left;
  float: left;
  margin: 2px 0 0 18px;
}

#site-name{
  display: none;
}

#site-slogan{
  color: #bbb;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#skip-link{
  display: none;
}

/* HEADER STYLES END */


/* BREADCRUMB BEGIN */

#breadcrumb {

}

#breadcrumb h2 {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  float: left;
  margin: 0 15px;
}

.breadcrumb {
  float: left;
  margin-top: 5px;
}

#breadcrumb a:before {
  color: #CCCCCC;
  content: ")";
  font: 12px "WebSymbolsRegular";
  margin: 0 5px 0 -10px;
}

#breadcrumb a {
  color: #BBBBBB;
  margin-right: 6px;
  text-decoration: none;
}

#breadcrumb a:hover, #breadcrumb active a,#breadcrumb active a:hover {
  color: #09c;
  text-decoration: none;
}

/* BREADCRUMB END */


/* MENUS BEGIN */

#block-system-main-menu {
  float: left;
  height: 45px;
  line-height: 45px;
  margin-top: 15px;
  width: 960px;
}

#block-system-main-menu ul{
  margin: 0;
  padding: 0;
}

#block-system-main-menu li, #block-system-main-menu li a{
  color: #eee;
  display: inline-block;
  float: left;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 45px;
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-system-main-menu li a:hover{
  color: #ddd;
}

#block-menu-menu-secondary-menu h2 {
  display: none;
}

#block-menu-menu-secondary-menu {
  background-color: #eee;
  border-bottom: 1px dashed #F4F4F4;
  border-top: 1px solid #DDDDDD;
  float: left;
  line-height: 25px;
  position: absolute;
  top: 0;
  width: 100%;
}

#block-menu-menu-secondary-menu .content {
  float: left;
  padding: 0 0 0 15px;
}

#block-menu-menu-secondary-menu ul{
  display: inline;
  margin: 0;
  padding: 0;
}

#block-menu-menu-secondary-menu li, #block-menu-menu-secondary-menu li a {
  color: #bbb;
  display: inline;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-menu-menu-secondary-menu li:after{
  content: " | ";
}

#block-menu-menu-secondary-menu li.last:after{
  content:"" !important;
}

#block-menu-menu-secondary-menu li a:hover{
  color: #09c;
}

/* MENUS END */


/* SEARCH FORM BEGIN */

#block-search-form {
  float: right;
  margin-right: 13px;
  position: relative;
  top: -25px;
  width: 240px;
}

#block-search-form h2, #block-search-form label {
  display: none;
}

#block-search-form .form-text {
  border-color: #E5E5E5 -moz-use-text-color #E5E5E5 #E5E5E5;
  border-radius: 16px 0 0 16px;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
  clear: none;
  color: #CCCCCC;
  display: inline;
  float: left;
  height: 24px;
  padding: 0 5px 0 10px;
  width: 147px;
}

#block-search-form .form-submit {
  -moz-border-radius: 15px;
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #DCDCDC;
  border-radius: 0 16px 16px 0;
  box-shadow: 0 1px 0 0 #FFFFFF inset;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  color: #888;
  cursor: pointer;
  display: inline-block;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  height: 26px;
  margin: 0;
  padding: 4px 10px 3px 5px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
}

/* SEARCH FORM END */


/* SIDEBARS BEGIN */

#sidebar-first .block h2 {
/*  background-color: #FFCC00; */
  background: #fe4;
  background: -moz-linear-gradient(top, #ffee44 0%, #ffbb00 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffee44), color-stop(100%, #ffbb00));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffee44 0%, #ffbb00 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffee44 0%, #ffbb00 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffee44 0%, #ffbb00 100%);/* IE10+ */
  background: linear-gradient(top, #ffee44 0%, #ffbb00 100%);/* W3C */
  border-bottom: 1px solid #FFAA00;
  border-radius: 15px 15px 15px 15px;
  color: #F9F9F9;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee44', endColorstr='#ffbb00',GradientType=0 );/* IE6-9 */
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
  padding: 5px 10px 3px;
  text-transform: uppercase;
}

#sidebar-first .block, #sidebar-second .block {
  margin-bottom: 15px;
  overflow: hidden;
}

#sidebar-second .block h2 {
/*  background-color: #AADD22; */
  background: #bf1;
  background: -moz-linear-gradient(top, #bbff11 0%, #88bb00 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbff11), color-stop(100%, #88bb00));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bbff11 0%, #88bb00 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bbff11 0%, #88bb00 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bbff11 0%, #88bb00 100%);/* IE10+ */
  background: linear-gradient(top, #bbff11 0%, #88bb00 100%);/* W3C */
  border-bottom: 1px solid #66AA00;
  border-radius: 15px 15px 15px 15px;
  color: #F9F9F9;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbff11', endColorstr='#88bb00',GradientType=0 );/* IE6-9 */
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
  padding: 5px 10px 3px;
  text-transform: uppercase;
}

/* SIDEBARS END */


/* VIEWS BEGIN */

.view-mainpage-slideshow .views-row {
  height: 300px !important;
  margin-bottom: 10px !important;
  width: 470px;
}

#block-views-mainpage-slideshow-block h2 {
/* background: #ff4444; /* Old browsers */
  background: -moz-linear-gradient(top, #ff4444 0%, #cc0000 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4444), color-stop(100%, #cc0000));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff4444 0%, #cc0000 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff4444 0%, #cc0000 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff4444 0%, #cc0000 100%);/* IE10+ */
  background: linear-gradient(top, #ff4444 0%, #cc0000 100%);/* W3C */
  border-bottom: 1px solid #aa0000;
  border-radius: 15px 15px 15px 15px;
  color: #F5F5F5;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4444', endColorstr='#cc0000',GradientType=0 );/* IE6-9 */
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
  padding: 5px 10px 3px;
  text-transform: uppercase;
  width: auto;
}

.view-mainpage-slideshow .views-field-field-image {
  background-color: #ddd;
  height: 286px;
  padding: 7px;
  width: 456px;
}

.view-mainpage-slideshow .views-field-field-image img {
  border: 3px solid #FFFFFF !important;
  height: 280px;
  margin: 0 auto !important;
  padding: 0 !important;
  width: 450px;
}

.view-mainpage-slideshow .views-field-title {
  background-color: #EEEEEE;
  border-top: 3px solid #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 10px;
  opacity: 0.8;
  padding: 3px 10px 0 12px;
  position: relative;
  text-transform: uppercase;
  top: -52px;
  width: 428px;
}

.view-mainpage-slideshow .views-field-title a {
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
}

.view-mainpage-slideshow .views-field-body {
  background-color: #EEEEEE;
  color: #BBBBBB;
  font-size: 11px;
  height: 15px;
  margin: 0 10px;
  opacity: 0.8;
  padding: 0 10px 3px 12px;
  position: relative;
  top: -62px;
  width: 428px;
}

.view-mainpage-slideshow p {
  padding-top: 0 !important;
}

.view-mainpage-slideshow .views-field-counter {
  position: relative;
  right: -355px;
  top: -29px;
  z-index: 60;
}

.view-mainpage-slideshow .views-content-counter {
  background-color: #EEE;
  border: 2px solid #FFFFFF;
  border-radius: 9px 9px 9px 9px;
  cursor: pointer;
  display: block;
  float: left;
  height: 9px;
  margin-right: 10px;
  text-indent: -9999px;
  width: 9px;
}

.view-mainpage-slideshow .views-content-counter:hover, .view-mainpage-slideshow .active .views-content-counter {
  background-color: #c00;
}

.view-popular-content .views-row {
  border-bottom: 1px dashed #EEEEEE;
  height: 60px;
}

.view-popular-content .views-row:hover {
  background-color: #f0f0f0;
}

.view-popular-content .views-row:hover .views-field-field-image {
  border: 4px solid #ccc;
}

.view-popular-content .views-field-field-image {
  border: 4px solid #DDDDDD;
  float: left;
  height: 50px;
  margin-right: 5px;
  padding: 1px;
  width: 50px;
}

.view-popular-content .views-field-title, .view-popular-content .views-field-title a {
  color: #09c;
  float: left;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  padding-top: 3px;
}

.view-popular-content .views-field-body {
  color: #aaa;
  float: left;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  width: 135px;
}

.view-popular-content p {
  margin: 3px 0 3px 0;
  font-size: 11px;
}

div.view-recent-pictures {
  margin: 10px auto;
  width: 186px;
}

.view-recent-pictures .views-field-field-image {
  border: 2px solid #DDDDDD;
  float: left;
  height: 50px;
  margin: 3px;
  padding: 1px;
  width: 50px;
}

.attachment .view-recent-content .views-row-first .views-field-title {
  background-color: #DDD;
  color: #AAA;
  font-weight: bold;
  margin: 0;
  padding: 9px 5px 3px 7px;
}

.attachment .view-recent-content .views-row-first .views-field-title:before {
  display: none;
}

.attachment .view-recent-content .views-row-first .views-field-title span {
  display: block;
  margin-left: 0;
  padding: 0 0 6px;
}

.view-recent-content .views-row-first .views-field-title a {
  color: #aaa;
}

.view-recent-content .views-row-first .views-field-title a:hover {
  color: #09c;
}

.view-recent-content .views-field-title:before {
  color: #CCCCCC;
  content: ")";
  font: 10px "WebSymbolsRegular";
  position: relative;
  top: 12px;
}

.view-recent-content .views-field-title {
  border-bottom: 1px dashed #EEEEEE;
  margin: -8px 0;
}

.view-recent-content .views-field-title span {
  display: block;
  margin-left: 20px;
  padding: 0 0 6px;
}

.view-recent-content .views-field-title a {
  color: #aaa;
  text-decoration: none;
}

.view-recent-content .views-field-title a:hover {
  color: #09c;
  text-decoration: none;
}

.view-recent-content .views-field-field-image img {
  border: 5px solid #EEEEEE;
  height: 180px;
  margin-bottom: 5px;
  padding: 3px;
  width: 234px;
}

.view-recent-content .more-link a{
  display: block;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 10px;
  margin-top: 14px;
  text-align: right;
}

#block-comment-recent li {
  border-bottom: 1px dashed #EEEEEE;
  display: block;
  margin: 5px auto;
  padding-bottom: 5px;
  text-align: right;
}

#block-comment-recent li a:before {
  color: #CCCCCC;
  content: "e";
  font: 10px "WebSymbolsRegular";
  margin-right: 6px;
}

#block-comment-recent li a {
  color: #bbb;
  display: block;
  float: left;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
}

#block-comment-recent li a:hover {
  color: #09c;
  text-decoration: none;
}

#block-comment-recent li span {
  color: #CCCCCC;
  display: inline-block;
  font-family: 'Ubuntu',verdana,tahoma,arial,sans-serif;
  font-size: 10px;
}

/* VIEWS END */


/* NODE TEASER BEGIN */

.node-teaser {
  float: left;
  margin-bottom: 10px;
}

.node-teaser h2 {
  background-color: #F0F0F0;
  border-bottom: 1px dashed #EAEAEA;
  color: #BBBBBB;
  font-weight: bold;
  margin-bottom: 3px;
}

.node-teaser h2 a{
  color: #09c;
  text-decoration: none;
}

.node-teaser h2 a:hover{
  color: #ccc;
  text-decoration: none;
}

.node-teaser .submitted {
  background-color: #F5F5F5;
  color: #D0D0D0;
  font-size: 11px;
  margin: -3px 0 7px;
  padding: 5px 10px;
  position: relative;
  text-align: right;
}

.node-teaser img {
  border: 4px solid #eee;
  float: left;
  height: 80px;
  margin-right: 10px;
  padding: 1px;
  width: 80px;
}

.node-teaser img:hover {
  border: 4px solid #ddd;
}

.node-teaser ul.inline {
  clear: both;
  color: #CCC;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  list-style: square inside none;
  position: relative;
  text-decoration: none;
}

.node-teaser ul.inline a {
  color: #09c;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
}

.node-teaser ul.inline a:hover {
  color: #09c;
  text-decoration: underline;
}

/* NODE TEASER END */


/* ADMIN STYLES BEGIN */

.page-admin #sidebar-first, .page-admin #sidebar-second {
  display: none;
}

.page-admin #content {
  margin: 20px auto;
  width: 950px;
}

#overlay {
  background-color: #EEEEEE;
  display: table;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
}

#overlay-disable-message {
  background-color: #FFFFFF;
  margin: 10px auto 0;
  padding: 2px 12px 10px;
  width: 980px;
}

.system-themes-list-enabled .theme-selector .screenshot, .system-themes-list-enabled .theme-selector .no-screenshot {
  border: 1px solid #E0E0D8;
  height: 219px;
  line-height: 219px;
  padding: 2px;
  text-align: center;
  vertical-align: bottom;
  width: 294px;
}

.system-themes-list-disabled .theme-selector .screenshot, .system-themes-list-disabled .theme-selector .no-screenshot {
  border: 1px solid #E0E0D8;
  height: 219px;
  line-height: 219px;
  padding: 2px;
  text-align: center;
  vertical-align: bottom;
  width: 294px;
}

.theme-selector {
  display: block;
  float: left;
  min-height: 330px;
  padding: 30px 30px 20px 0;
  width: 300px;
}

.system-themes-list-disabled {
  border-top: 1px solid #CDCDCD;
  clear: both;
  padding-top: 20px;
}

.theme-info {
  float: left;
  padding: 10px;
}

.system-themes-list-disabled .theme-info {
  min-height: 0;
}

.system-themes-list-disabled .theme-selector {
  display: block;
  float: left;
  min-height: 330px;
  padding: 30px 30px 20px 0;
  width: 300px;
}

.theme-selector .operations ul {
  display: inline;
}
.theme-selector .operations li {
  border: none;
  float: left;
  margin: 0;
}

/* ADMIN STYLES END */


/* OTHER STYLES BEGIN */

.comment {
  margin: 10px 0;
  border-bottom: 1px dashed #DDDDDD;
}

.more-link a {
  display: block;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 10px;
  margin-top: 6px;
  text-align: right;
}

.field-name-field-tags {
  line-height: 18px;
}

.field-name-field-tags .field-item {
  display: inline;
  line-height: 18px;
}

.field-name-field-tags a {
  background-color: #DDD;
  border-radius: 5px 5px 5px 5px;
  color: #F9F9F9;
  display: inline;
  font-family: 'Ubuntu', verdana, tahoma, arial, sans-serif;
  font-size: 11px;
  margin: 0 5px 5px 0;
  padding: 3px 6px;
  text-decoration: none;
}

.field-name-field-tags a:hover {
  background-color: #09c;
  text-decoration: none;
}

/* OTHER STYLES END */
