
#block-superfish-1 {
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(top,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px dashed #EEEEEE;
  border-top: 1px solid #FFFFFF;
  color: #EEEEEE;
  float: left;
  margin: 0 0 20px 0;
  width: 100%;
}

#superfish-1 {
  margin-left: 15px;
}


.sf-menu, .sf-menu * {
  list-style: none outside none;
  padding: 0;
}

.sf-menu {
  float: left;
  z-index: 497;
  margin: 0;
}

.sf-menu ul {
  left: 0;
  position: absolute;
  top: -99999em;
  width: 12em;
  -webkit-box-shadow:  15px 0px 8px 0px #555;
  -moz-box-shadow:  15px 0px 8px 0px #555;
  box-shadow:  15px 0px 8px 0px #555;
}

.sf-menu li {
  color: #EEEEEE;
  display: inline;
  float: left;
  font-family: arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 7px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 498;
}

.sf-menu a, .sf-menu li a.active {
  color:#eee;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  display: block;
  letter-spacing: 0.5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.sf-menu a:hover, .sf-menu a:active, .sf-menu a:visited {
  color:#eee;
  text-decoration: none;
}

.sf-depth-1 ul{
  margin: 5px 0 0 15px;
}

.sf-depth-2 ul{
  margin:-1px 0 0 15px;
}

ul.sf-depth-2 {
  margin-left:30px;
}

.sf-depth-1 ul li, .sf-depth-2 li, .sf-depth-2 ul li, .sf-depth-3 li, .sf-depth-3 ul li, .sf-depth-4 li, .sf-depth-4 ul li {
  background-color: #0099cc;
  border-top: 1px dashed #eee;
  line-height: 30px;
}

.sf-depth-1 ul li:hover, .sf-depth-2 li:hover, sf-depth-3 li:hover, sf-depth-4 li:hover {
  background-color: #0088bb;
  border-top: 1px dashed #eee;
}

.sf-depth-1:hover {
  background: #006699;
  background: -moz-linear-gradient(top,  #006699 0%, #0099cc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006699), color-stop(100%,#0099cc));
  background: -webkit-linear-gradient(top,  #006699 0%,#0099cc 100%);
  background: -o-linear-gradient(top,  #006699 0%,#0099cc 100%);
  background: -ms-linear-gradient(top,  #006699 0%,#0099cc 100%);
  background: linear-gradient(top,  #006699 0%,#0099cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#0099cc',GradientType=0 );
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  z-index: 499;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  left: 0;
  top: 45px;
}

.sf-menu li li:hover > ul,
.sf-menu li li.sfHover > ul {
  top: 0;
}

.sf-menu a.sf-with-ul:before {
  color: #DDDDDD;
  content: "+";
  font: 10px "WebSymbolsRegular";
  margin-right: 6px;
  position: relative;
  top: -2px;
}

.sfHover > a.menuparent:before {
  content: "-";
  color: #DDDDDD;
  font: 10px "WebSymbolsRegular";
  margin-right: 6px;
  position: relative;
  top: -2px;
}

.sf-sub-indicator {
  display: none;
} 